body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #30cfd0 50%, #330867 100%);
}

h1 {
  color: #272142;
  font-size: 38px;
  font-weight: 700;
  line-height: 29px;
  line-height: 48px;
  margin: 20px 0 10px;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0px;
  padding: 0px;
}
li::first-letter {
  text-transform: capitalize;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  background: linear-gradient(-225deg, #b6cee8 0%, #f578dc 100%);
  padding: 30px;
  border: 1px solid goldenrod;
  border-radius: 10px;
}
.overview {
  margin: bottom 20px;
}

.weather-temperature img {
  margin-right: 6px;

  height: 64px;
  width: 64px;
}
.weather-app-wrapper a {
  text-decoration: none;
}
.weather-app-wrapper a:hover {
  color: chartreuse;
  text-decoration: none;
  cursor: pointer;
}
.weather-temperature strong {
  color: rgb(33, 33, 33);
  line-height: 1;
  font-size: 64px;
  font-weight: 400;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}
