body {
  font-family: Arial, sans-serif;
}

h1 {
  color: #272142;
  font-size: 38px;
  font-weight: 700;
  line-height: 29px;
  line-height: 48px;
  margin: 20px 0 10px;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  padding: 30px;
  border: 1px solid goldenrod;
  border-radius: 10px;
}
.overview {
  margin: bottom 20px;
}

.weather-temperature img {
  margin-right: 6px;

  height: 64px;
  width: 64px;
}
.weather-app-wrapper a {
  text-decoration: none;
}
.weather-app-wrapper a:hover {
  color: chartreuse;
  text-decoration: none;
  cursor: pointer;
}
.weather-temperature strong {
  color: rgb(33, 33, 33);
  line-height: 1;
  font-size: 64px;
  font-weight: 400;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}
