body {
  font-family: Arial, sans-serif;
}
.weather-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 30px;
  border: 1px solid goldenrod;
  border-radius: 10px;
}
h1 {
  color: #272142;
  font-size: 38px;
  font-weight: 700;
  line-height: 29px;
  line-height: 48px;
  margin: 20px 0 10px;
}
ul {
    margin: 0;
    padding: 0;
}
li {
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0px;
  padding: 0px;
}
